.about-page{

padding-top:150px;
padding-bottom:80px;

}

.profile-img{

width:320px;
max-width:100%;
border-radius:20px;
border:5px solid #D4A017;
box-shadow:0 0 40px rgba(212,160,23,.35);

}

.skills{

padding:80px 0;

}

.skill{

margin-bottom:30px;

}

.progress{

height:10px;
background:#222;

}

.progress-bar{

width:0%;
transition:2s;

}

.html-bar{

width:75%;

}

.js-bar{

width:70%;

}

.arduino-bar{

width:80%;

}

.esp-bar{

width:90%;

}

.timeline{

padding:80px 0;

}

.timeline-item{

border-left:3px solid #D4A017;
padding-left:25px;
margin-bottom:40px;
position:relative;

}

.timeline-item::before{

content:'';
position:absolute;
left:-9px;
top:0;

width:15px;
height:15px;

background:#D4A017;
border-radius:50%;

}