/* ========================
Animations
======================== */

@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(50px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

.fade-up{

    animation:fadeUp .8s ease forwards;

}

@keyframes glow{

    0%{

        box-shadow:0 0 10px rgba(212,160,23,.2);

    }

    50%{

        box-shadow:0 0 35px rgba(212,160,23,.6);

    }

    100%{

        box-shadow:0 0 10px rgba(212,160,23,.2);

    }

}

.glow{

    animation:glow 2s infinite;

}

#topBtn{

    position:fixed;

    right:30px;

    bottom:30px;

    width:50px;

    height:50px;

    border:none;

    border-radius:50%;

    background:#D4A017;

    color:#111;

    cursor:pointer;

    opacity:0;

    transition:.3s;

    z-index:9999;

}

#topBtn.show{

    opacity:1;

}